.button {

    -fx-background-color: transparent;
    -fx-background-image: url("https://cdn.imgbin.com/3/12/17/imgbin-computer-icons-avatar-user-login-avatar-man-wearing-blue-shirt-illustration-mJrXLG07YnZUc2bH5pGfFKUhX.jpg");
    -fx-background-repeat: no-repeat;
}