.event-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.event {
  text-align: center;
}

.event img {
  width: 100px;
  height: 100px;
}

/* main-page.component.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.event-card {
  width: 580px;
  position: relative;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #F8F8FF;
}

.event-card h2 {
  color: #333;
  margin-top: 0;
}

.event-card p {
  margin: 5px 0;
}
.event-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.add-event-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-event-button:hover {
  background-color: #0056b3;
}

.delete-event-button {
  background-color: #add8e6;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.delete-event-button:hover {
  background-color: #87cefa;
}

.edit-event-button {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 100px;
  bottom: 16px;
}

.edit-event-button:hover {
  background-color: #ec971f;
}

.logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 16px;
  background-color: #8FBC8F; /* Red color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #006400; /* Darker red color on hover */
}

